body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.slider {
    width: 1200px;
    height: 650px;
    border-radius: 10px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 650px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 1200px;
    height: 650px;
}

.navigation-manual {
    position: absolute;
    width: 1200px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 0px solid transparent;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.primeiro {
    margin-left: 0;
}

#radio2:checked~.primeiro {
    margin-left: -20%;
}

#radio3:checked~.primeiro {
    margin-left: -40%;
}

#radio4:checked~.primeiro {
    margin-left: -60%;
}

#radio5:checked~.primeiro {
    margin-left: -80%;
}

#radio6:checked~.primeiro {
    margin-left: -100%;
}

#radio7:checked~.primeiro {
    margin-left: -120%;
}

#radio8:checked~.primeiro {
    margin-left: -140%;
}

#radio9:checked~.primeiro {
    margin-left: -160%;
}

#radio10:checked~.primeiro {
    margin-left: -180%;
}

#radio11:checked~.primeiro {
    margin-left: -200%;
}

#radio12:checked~.primeiro {
    margin-left: -220%;
}

#radio13:checked~.primeiro {
    margin-left: -240%;
}

#radio14:checked~.primeiro {
    margin-left: -260%;
}

#radio15:checked~.primeiro {
    margin-left: -280%;
}